<!doctype html>
<html lang="en">

<head>
    <title>EmojiPW &#127790;</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form method="post" action="/">
                    <div class="form-group">
                        <label for=""></label>
                        <div class="input-group mb-3">
                            <input name="inputEmoji" type="text" class="form-control" placeholder="Enter Emojis Only"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <select name="language" class="form-control" id="languageselection">
                                    <option value="en">en</option>
                                    <option value="de">de</option>
                                    <option value="es">es</option>
                                    <option value="pt">pt</option>
                                    <option value="it">it</option>
                                    <option value="fr">fr</option>
                                </select>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit">Generate Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="jumbotron">
                    <h1 class="display-4">EmojiPW &#127790;</h1>
                    <p class="lead">Create state of the art, secure passwords with emojis &#129409; </p>
                    <hr class="my-4">
                    <p>Please use the service responsible and <span class="badge badge-warning">NEVER EVER</span> share
                        your password</p>
                    <a class="btn btn-primary btn-lg"
                        href="https://www.linkedin.com/feed/update/urn:li:activity:6949640630297899008/" role="button"
                        target="_blank">Learn more</a>
                    <a class="btn btn-secondary btn-lg" href="https://github.com/rangulvers/emojipw" role="button"
                        target="_blank">Github</a>
                </div>
            </div>
        </div>
        {% if result %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        Your new Password generated from : {{em}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{result}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        Shortcodes
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {% for code in shortcodes %}
                            {{code}}</br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>

</html>